

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
form {
  padding-bottom: 50px;
}
form > button {
  padding: 8px;
  font-size: 20px;
  margin-left: 4px;
}
.form-content {
  display: flex;
  justify-content: center;
}
.form-content input {
  font-size: 20px;
  padding: 8px 0;
  width: 350px;
  text-indent: 5px;
}